* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: " Brand Variable", Arial, Helvetica, "sans-serif";
}



header {
    min-width: 100vw;
    background-color: rgb(212, 211, 211);
    box-shadow: 0px 2px 5px #b5b5b5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
}



.nav-bar {
    width: 100vw;
    display: flex;
    padding: 20px;



}


.logo img {
    width: 100px;

}

.logo img:hover {
    content: url(../src/iago\ logo\ -\ 200px\ sem\ cor.png);
    width: 85px;
}


a {
    text-decoration: none;
    color: rgb(84, 84, 84);
}




.nav-list {
    display: flex;
    align-items: center;


}

.nav-list ul {
    display: flex;
    list-style: none;
    margin-inline: 75px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}


.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;

}

.mobile-menu {
    display: none;
    justify-content: center;
}


























main {
 
    margin-bottom: 20px;
}






.intro {
   
    
    margin-left: 40px;
    padding-left: 10px;


}


.intro h1 {
    font-size: max(30px,2vw);
    margin-bottom: 20px;
}

.intro p {
    font-size: max(15px,1vw);
    margin-bottom: 10px;

}







.introducao img {
    margin-top: 60px;
    width: max(25%, 300px);



}

.introducao {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-bottom: 200px;

}






.btn{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    
    
}


.btn-a{
    background-color:#2ab48f;
    color: #fff;
    border-radius: 30px;
    margin: 10px;
}

.btn-a-y{
    background-color:#eebf34;
    color: #fff;
    border-radius: 30px;
    margin: 10px;}

    .btn-a-p{
        background-color: #8b33ce;
        color: #fff;
        border-radius: 30px;
        margin: 10px;}

        .btn-a-b{
            background-color: #30a7cb;
            color: #fff;
            border-radius: 30px;
            margin: 10px;}


.ancora p{
    padding: 10px
   
 
}

















.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    background-color:#2ab48f;
    color: #fff;

    box-shadow: 0px 2px 5px #494848;
  
    
}
.container-y{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    background-color:#eebf34;
    color: #fff;

    box-shadow: 0px 2px 5px #494848;
  
    
}

.container-p{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    background-color: #8b33ce;
    color: #fff;

    box-shadow: 0px 2px 5px #494848;
  
    
}

.container-b{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    background-color:  #30a7cb;
    color: #fff;

    box-shadow: 0px 2px 5px #494848;
   
}

.container img{
    max-width: 23%;
}



.itens h1{
    text-align:center;
    font-size: max(30px,2vw);
    margin: 50px;
 

}

.itens p {
    
    font-size: max(17px,1.7vw);
    margin: 50px;

}


.vantagens{
    margin-bottom: 150px;
}

.vantagens h1{
    font-size: max(30px,2vw);
    text-align: center;
    margin: 15px 0px 90px 0px;
}

.vantagens-p{
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
    
   
}

.vantagens-p p{
    text-align: center;
   font-size: max(15px,1.2vw);
   padding: 2px;
}
.vantagens-img{
    display: flex;
    justify-content: space-around;
 
}
.vantagens-img img{
    margin-top: 40px;
    max-width: 26%;
}































footer {
    display: flex;
    background-color: rgb(212, 211, 211);
    justify-content: space-evenly;
    box-shadow: 5px 3px 4px 5px #b5b5b5;
    width: 100vw;

}

.footer-info h2 {
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin: 50px 0 15px 0;
    color: rgb(84, 84, 84);
}

.footer-info p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(84, 84, 84);
    margin-inline: 10px;
}







@media screen and (max-width: 750px) {
    .nav-bar {
        margin-top: 20px;
        width: 100vw;
        justify-content: center;
    }

    .nav-list {
        display: none;
    }

    .nav-item {
        display: none;

    }

    .mobile-menu-icon {
        display: block;
        margin-top: 50px;

    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu li {
        display: block;

        padding: 1rem 2rem;
    }

    .open {

        display: block;
        width: 100%;
        justify-content: center;


    }

    footer {
        display: flex;
        flex-flow: column nowrap;

    }

    .footer-info h2 {
        font-size: 40px;

    }

    .footer-info p {
        font-size: 25px;

    }



}